.container .input-group{
    margin-top: 8%;
}
.input-group{
    height: 65px;
    bottom: 40px;
   
}
.inputtext{
    height: 30px;
    
}
.btn-width{
    width: 200px;
}
.bg-board {
    background-image: url('/image/bg.jpg');
    padding: 50px 0px;
}
.board-button{
    margin-top: 30px;
    margin-right: 30px;
    
}
button {
    background-color: rgb(224, 130, 22);
    padding: 10px;
    color: #000;
    border: none; 
    transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: rgb(173, 52, 52);
    color: #ffff;
}

.red {
    text-decoration: none; 
}
.red:hover {
    color: rgb(241, 230, 230);
}

.board-bg{
    background: white;
    padding: 14px;
    border-radius: 10px;
}
.table td,.table th {
    padding: 18px;
}


.board-this {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px; 
    background: rgb(177, 196, 208);
    left: 10px;
}
.board-this h5 {
    margin: 0;
    color: #333;
}
.board-this hr {
    border: none;
    border-top: 1px solid #0b0a0a;
    margin: 5px 0;
}
.board-this p {
    margin: 0;
    font-size: 24px;
}
.wid{
    width: 200px;
}

.board{
    text-align: center;
    background: rgb(177, 196, 208); 
    border-radius: 5px;
    padding: 10px; 
}
@media (max-width: 991px) {
    .board-button {
        width: 100%;
    }
}


